<div class="onecomment">
    <div class="tools">
        <a href="/comment/<%= taskid %>/<%= item.id %>/edit">Modify</a> |
        <a href="/comment/<%= taskid %>/<%= item.id %>/delete">Delete</a>
    </div>
    <div class="commentname"><%= item._user ? item._user.name : '-' %> <span><%= item.date %></span>:</div>
    <div class="commenttext">
        <%= item.comment %>
    </div>
</div>